.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px;
}

label {
    display: block;
}

input + div {
    cursor: pointer;
    font-size: 40px;
    font-weight: 600;
    padding: 1em 2em;
    letter-spacing: 0.05rem;
    border-radius: 30px;
    border: 10px solid;
    margin: 50px;
}

input[type='radio'] {
    appearance: none;
}

.radio-left {
    color: #ffff68;
    border-color: #ffff68;
}

.radio-right {
    color: #e232a1;
    border-color: #e232a1;
}

.radio-left input:checked + div {
    background-color: #ffff68;
    color: #282c34;
}

.radio-right input:checked + div {
    background-color: #e232a1;
    color: #282c34;
}
